*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.example {
    border: 1px solid black;
    fill: none;
    stroke: orange;
    stroke-width: 5px;
}

.comment {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: green;
}

.comment>svg {
    position: absolute;
    transform: rotate(-45deg);
    top: 150px;
    fill: green;
}