/* ::before */
#before>p::before {
    content: "Before";
    font-size: 50px;
    color: violet;
}

/* ::after */
#after>p::after {
    content: "After";
    font-size: 30px;
    color: blue;
}

/* ::first-letter */
#first-letter>p::first-letter {
    font-size: 60px;
    font-weight: 900;
    color: orange;
}

/* ::first-line */
#first-line>p::first-line {
    color: red;
}

/* ::marker */
/* ::marker {
    color: red;
} */

/* ul {
    padding-left: 40px;
}

li::marker {
    color: forestgreen;
} */

#marker-example>ul {
    padding-left: 20px;
}

#marker-example>ul>li::marker {
    color: crimson;
}

/* ::selection */
#selection-example>p::selection {
    color: red;
    background-color: pink;
}