/* Grouping selector */
.class2,
#p2,
h3,
[data-text] {
    color: cornflowerblue;
}

/* Compound selector */
p.class3 {
    color: goldenrod;
}

/* Descedant combinator */
div span {
    color: coral;
}

/* Child combinator */
div>span {
    color: crimson;
}

/* General sibling combinator */
div~span {
    color: darkblue;
}

div~p {
    color: orchid;
}

/* Adjacent sibling combinator */
div+p {
    color: darkgoldenrod;
}

p+div {
    color: blue;
}