.bg-gray {
    background: #F6F6F6;
}

/* .navigation, */
.skills-products,
.skill-product,
.contacts,
.contacts-links,
.contacts-social {
    display: flex;
}

.skill-product,
.contacts,
.contacts-links {
    flex-direction: column;
}

/* .navigation, */
.skill-product,
.contacts,
.contacts-links {
    align-items: center;
}

.navigation,
.skill-product {
    justify-content: center;
}

.navigation {
    gap: 40px;
    height: 80px;
    border-bottom: 1px solid #828282;
}

.skills-products {
    justify-content: space-between;
}

.contacts {
    gap: 60px;
}

.contacts-links {
    gap: 30px;
}

.contacts-social {
    gap: 50px;
}

.contacts-msg-btn {
    background: #070707;
    border-radius: 22px;
    padding: 0px 16px;
    color: white;
    width: 180px;
    height: 44px;
}

.contacts-follow {
    display: block;
}