*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.title {
    font-family: Open Sans;
    font-weight: 700;
    letter-spacing: 0em;
}

.title-l {
    font-size: 48px;
    line-height: 65px;
}

.title-m {
    font-size: 34px;
    line-height: 46px;
}

.home-title {
    margin-bottom: 50 px;
}

.text {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: #070707;
}

.text-center {
    text-align: center;
}

.text-m {
    font-size: 14px;
}

.text-gray {
    color: #828282;
}

.padding-inline {
    padding-inline: 235px;
}

.padding-block {
    padding-inline: 100px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-25 {
    margin-bottom: 25px;
}

.bg-gray {
    background-color: #f6f6f6;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 80px;
}

.skills-products {
    display: flex;
}